*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body
{
    background-image: url(background.jpg);
    // background-size: 1280px 1110px;
    // background-size: cover;
    background-size: cover;
    // background-position: center;
    background-position: top;
    box-sizing: border-box;
}
.menubar
{
    background: green;
    text-align: center;
}
.menubar ul
{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menubar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menubar ul li a
{
    text-decoration: none;
    color: white;
}
.active, .menubar ul li:hover
{
    background-color: lawngreen;
    border-radius: 3px;
}
.menubar .fa-solid
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menubar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color: green;
    margin-top: 15px;
    margin-left: -15px;
}
.menubar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menubar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1pt dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menubar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menubar ul li:hover .sub-menu-1 ul li a:hover
{
    color: chartreuse;
}